<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a Home Page</h1>
    <h3> <%= "pradeep yadav".toUpperCase()%></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui corrupti, in
      quaerat blanditiis unde corporis nihil excepturi voluptates ipsa. Dolores,
      asperiores doloremque architecto labore accusantium quaerat harum
      laudantium corrupti aliquam iusto nam nisi ab consequatur veritatis nihil
      iure rem deleniti!
    </p>
    <button>Click me!</button>
  </body>
</html>
